{% extends 'remesas/base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<style>
		.card-p {
			border: 1px var(--gray) solid !important;
		}

		.add {
			font-size: 0.8rem;
			cursor: pointer;
			color: #007bff !important;
		}

		.row-table {
			padding: 0.4rem;
			border-top: 0.1rem var(--gray) solid
		}

		.row-table .fa-close:hover {
			cursor: pointer;
		}

		.row-table:hover {
			background-color: var(--bg-nabvar);
		}

		.row-selected {
			background-color: #21262a;
		}

		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 1rem;
		}

		.load {
			position: absolute;
			width: 100%;
			background: #4151608c;
			z-index: 999999;
			height: 100%;
			top: 0;
			left: 0;
			display: none;
			justify-content: center;
			align-items: center;
		}
	</style>
{% endblock %}
{% block content %}

	{# header #}
	<div class="container-fluid">
		<div class="d-flex align-items-center">
			<h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
				Configuración de Paises
			</h4>
		</div>
		<section class="grid">
			{% for item in data %}
				{{ include('remesas/config-pais/components/card-location.html.twig', item) }}
			{% endfor %}

		</section>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Remesas/config-pais/init.js') }}"></script>
	<script src="{{ asset('js/Remesas/config-pais/components/row.js') }}"></script>

	<script src="{{ asset('js/Remesas/config-pais/draw/rows-for-selected.js') }}"></script>
	<script src="{{ asset('js/Remesas/config-pais/draw/load-data.js') }}"></script>

	<script src="{{ asset('js/Remesas/config-pais/func/set-zone-selected.js') }}"></script>
	<script src="{{ asset('js/Remesas/config-pais/func/get-zone-selected.js') }}"></script>
	<script src="{{ asset('js/Remesas/config-pais/func/cleare-children-herarchy.js') }}"></script>

	<script src="{{ asset('js/Remesas/config-pais/on-new-row.js') }}"></script>
	<script src="{{ asset('js/Remesas/config-pais/on-delete-row.js') }}"></script>
	<script src="{{ asset('js/Remesas/config-pais/on-click-row.js') }}"></script>

{% endblock %}
