<div class="b-card" style="position: relative;">
	<div id="load-data-{{empresa.id_empresa}}" class="load"></div>
	<div class="d-flex mb-2">
		<h3 class="h3 text-capitalize" style="color: white; font-weight: 400;">{{empresa.nombre}}</h3>
	</div>
	<div class="b-card-data ">
	</div>
	<div class="d-flex" style="color: white;">
		<button style="color: white;" class="btn btn-outline-info text-capitalize mr-2" onclick="onCostoLargaDistancia({{empresa.id_empresa}}, {% if empresa.costo_larga_distancia %} {{empresa.costo_larga_distancia}} {% else %} '' {% endif %})">
			<img class="icon-img" src="{{ asset('images/telecomunicaciones/servicios/larga-distancia-icon.png') }}" alt="Recarga Cubacel">
			Larga Distancia</button>
		<div id="btn-asignar-saldo-{{empresa.id_empresa}}" class="btn-group">
			<button class="btn btn-outline-warning text-capitalize" onclick="asignarSaldoEmpresa({
					id: {% if empresa.id %} {{empresa.id}} {% else %} 0 {% endif %},
					id_empresa: {{empresa.id_empresa}},
					accion: 'Agregar'
					})">
				<i class="fa fa-dollar"></i>
				Agregar Saldo
			</button>
			<button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split mr-2" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
				<button id="btn-asignar-saldo-{{empresa.id_empresa}}" class="btn btn-outline-warning text-capitalize mx-2" onclick="asignarSaldoEmpresa({
						id: {% if empresa.id %} {{empresa.id}} {% else %} 0 {% endif %},
						id_empresa: {{empresa.id_empresa}},
						accion: 'Disminuir'
						})">
					<i class="fa fa-dollar"></i>
					Disminuir Saldo
				</button>
			</div>
		</div>

		<div id="txt-saldo-{{empresa.id_empresa}}" class="ml-auto" style="color: white; padding-top: 8px;">${{empresa.saldo}}</div>
	</div>
</div>
