<!doctype html>
{% set company_logo = app.session.get('auth/company_logo') %}

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Factura</title>
		<link rel="stylesheet" href="{{ asset('css/print/style.css') }}"> <link rel="icon" type="image/png" href="{{ logo }}">
		<style>
			.w-100 {
				min-width: 100px;
				max-width: 100px;
			}

			img {
				width: 200px;
			}

			.mt30 {
				margin-top: 30px
			}

			.footer-aling {
				justify-content: space-between;
				align-items: flex-end;
			}
		</style>
	</head>
	<body>
		<div class="cs-container">
			<div
				class="cs-invoice cs-style1">
				{# head presentacion #}
				<div class="cs-invoice_head cs-type1 cs-mb25">
					<div class="cs-invoice_left">
						<p class="cs-invoice_number cs-primary_color cs-mb5 cs-f16">
							<b class="cs-primary_color">No Factura:</b>
							{{factura.nro_factura}}
						</p>
						<p class="cs-invoice_number cs-primary_color cs-mb5 cs-f16">
							<b class="cs-primary_color">Fecha:</b>
							{{factura.fecha_factura}}
						</p>
						<p class="cs-invoice_number cs-primary_color cs-mb5 cs-f16">
							<b class="cs-primary_color">Moneda:</b>
							{{factura.moneda}}
						</p>
					</div>
					<div class="cs-invoice_right cs-text_right">
						<div class="cs-logo cs-mb5"><img src="{{ logo }}" alt="Logo Empresa"></div>
					</div>
				</div>
				{# head empresa datos #}
				<div class="cs-invoice_head cs-mb10">
					<div class="cs-invoice_left">
						<p class="cs-mb5">
							<b class="cs-invoice_number cs-primary_color">Código:</b>
							{{factura.codigo_unidad}}
						</p>
						<p class="cs-mb5">
							<b class="cs-invoice_number cs-primary_color">Teléfono::</b>
							{{factura.telefono_unidad}}
						</p>
						<p class="cs-mb5">
							<b class="cs-invoice_number cs-primary_color">Correo:</b>
							{{factura.correo_unidad}}
						</p>
					</div>

					<div class="cs-invoice_right cs-text_right">
						<p class="cs-mb5 cs-f16">{{factura.nombre_unidad}}</p>
						<p class="cs-mb5" style="width: 260px;">{{factura.direccion_unidad}}</p>
					</div>
				</div>

				{# head datos del cliente #}
				<div class="cs-invoice_head cs-mb20">
					{% if factura.cliente != '' %}
						<div class="cs-invoice_left">
							<p class="cs-mb5">
								<b class="cs-invoice_number cs-primary_color">Para:</b>
								{{ cliente }}
							</p>
							{% if factura.direccion_cliente !='' %}
								<p class="cs-mb0">{{ factura.direccion_cliente }}</p>
							{% endif %}
							{% if factura.telefono_cliente !='' %}
								<p class="cs-mb0">{{ factura.telefono_cliente }}</p>
							{% endif %}

						</div>
					{% endif %}
				</div>

				{# tabla Factura #}
				<div class="cs-table cs-style1">
					<div class="cs-round_border">
						<div class="cs-table_responsive">
							<table>
								<thead>
									<tr>
										<th class="cs-width_4 cs-semi_bold cs-primary_color cs-focus_bg">
											{% if tipoFactura == 'mercancia' %}
												Código
											{% else %}
												Servicio
											{% endif %}
										</th>
										<th class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg">
											{% if tipoFactura == 'mercancia' %}
												Descripción
											{% else %}
												Beneficiario
											{% endif %}
										</th>
										{% if tipoFactura == 'servicio' %}
											<th class="w-100 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Nro. de Orden</th>
										{% endif %}
										{% if tipoFactura == 'mercancia' %}
											<th class="w-100 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Cantidad</th>
										{% endif %}
										<th class="w-100 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Precio</th>
										{% if tipoFactura == 'mercancia' %}
											<th class="w-100 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Impuesto</th>
										{% endif %}
										<th class="w-100 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Total</th>
									</tr>
								</thead>
								<tbody>
									{% for item in mercancias %}
										<tr>
											<td class="cs-width_4">{{ item.solicitud }}</td>
											<td class="cs-width_3">{{ item.descripcion }}</td>
											{% if tipoFactura == 'servicio' %}
												<td class="cs-width_3 cs-text_right">{{ item.nro_orden }}</td>
											{% endif %}
											{% if tipoFactura == 'mercancia' %}
												<td class="cs-width_2 cs-text_right">{{ item.cantidad|number_format(2) }}</td>
											{% endif %}
											<td class="cs-width_2 cs-text_right">{{ item.precio|number_format(2) }}</td>
											{% if tipoFactura == 'mercancia' %}
												<td class="cs-width_2 cs-text_right">{{ item.impuesto|number_format(2) }}</td>
											{% endif %}
											<td class="cs-width_2 cs-text_right">{{ item.subtotal|number_format(2) }}</td>
										</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
					</div>
				</div>

				{# detalles SUBTODA - TOTAL #}
				<div class="cs-invoice_footer cs-border_bottom cs-border_left cs-border_right">
					<div class="cs-left_footer cs-mobile_hide">
						{% if observacion_general != '' %}
							<p class="cs-mb5 cs-primary_color">
								<b class=" ">Notas:
								</b>
								{{observacion_general}}
							</p>
						{% endif %}
					</div>
					<div class="cs-right_footer">
						<table>
							<tbody>
								{% for detalles in detalles_factura %}
									<tr class="cs-border_left">
										<td class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg">{{ detalles.concepto }}</td>
										<td class="cs-width_3 cs-semi_bold cs-focus_bg cs-primary_color cs-text_right">{{ detalles.valor }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				{# Resumen de pagos #}
				{% if detalles_pago|length %}
					<p class="cs-bold cs-f16 cs-primary_color mt30">Resumen de pagos</p>
					<div class="cs-table cs-style1">
						<div class="cs-round_border">
							<div class="cs-table_responsive">
								<table>
									<thead>
										<tr>
											<th class="cs-width_4 cs-semi_bold cs-primary_color cs-focus_bg">Fecha</th>
											<th class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Metodo de pago</th>
											<th class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Importe</th>
											<th class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Por Pagar</th>
											<th class="cs-width_2 cs-semi_bold cs-primary_color cs-focus_bg cs-text_right">Cambio</th>
										</tr>
									</thead>
									<tbody>
										{% for element in detalles_pago %}
											<tr>
												<td class="cs-width_4">{{ element.fecha }}</td>
												<td class="cs-width_3 cs-text_right">{{ element.metodo_pago }}</td>
												<td class="cs-width_3 cs-text_right">{{ element.importe }}</td>
												<td class="cs-width_3 cs-text_right">{{ element.resto }}</td>
												<td class="cs-width_2 cs-text_right">{{ element.cambio }}</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
				{% endif %}

				{# pie de firma y QR #}

				<div class="cs-invoice_footer mt30 footer-aling">
					<div>
						<p class="cs-bold cs-primary_color cs-mb5 cs-f16">Empleado:
						</p>
						<p>{{ empleado }}</p>
						<p class="cs-mb1">______________________________</p>
					</div>
					{% if factura.cliente != '' %}
						<div>
							<p class="cs-bold cs-primary_color cs-mb5 cs-f16">Cliente:
							</p>
							<p>{{ cliente }}</p>
							<p class="cs-mb1">______________________________</p>
						</div>
					{% endif %}
					<svg style="height: 95px;" class="w-100 ml-5">
						<g id="qrcode"/>
					</svg>
				</div>
				<p class="cs-bold mt30 cs-text_center">¡GRACIAS POR SU CONFIANZA!</p>
			</div>
		</div>
		<script src="{{ asset('js/davidshimjs-qrcodejs-04f46c6/qrcode.js') }}"></script>
	</body>
</html>


{% block javascripts %}
	<script>

		var qrcode = new QRCode(document.getElementById("qrcode"), {
width: 20,
height: 20,
useSVG: true
});

const valor = '{{ qr_url|raw }}';

qrcode.makeCode(valor);

function imprimir() {
$('#btn_print').hide()
window.print()
$('#btn_print').show()
}

const conector = new ConectorPlugin();
const factura = {{ factura|json_encode()|raw }};
const url_ticket = '{{ company_logo }}';
	</script>
{% endblock %}
