{% extends 'telecomunicaciones/base.html.twig' %}

{% block title %}Telecomunicaciones | servicios
{% endblock %}

{% block content %}

	{{ include('telecomunicaciones/servicios/modals/modal_add_servicio.html.twig',{title:'Adicionar Servicio'}) }}

	<div class="container">
		<div class="d-flex align-items-center">
			<h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
				Servicios
			</h4>
		</div>
		<section class="d-flex">
			<div class="card card-costom" style="width: 18rem;">
				<a href="{{ url('telecomunicaciones-subservicios', { id_servicio: 1 }) }}">
					<img src="{{ asset('images/telecomunicaciones/servicios/cubacel.png') }}" class="card-img-top" alt="Cubacel">
				</a>
			</div>
			<div class="card card-costom" style="width: 18rem;">
				<img src="{{ asset('images/telecomunicaciones/servicios/larga-distancia.png') }}" class="card-img-top" alt="larga distancia">
			</div>
		</section>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Telecomunicaciones/servicios/validate-form-post.js') }}"></script>
	<script src="{{ asset('js/Telecomunicaciones/servicios/auto-generate-abreviatura.js') }}"></script>
	<script src="{{ asset('js/Telecomunicaciones/servicios/desactivar-servicio.js') }}"></script>

{% endblock %}
