<div class="card card-p" style="width: 18rem; height: 25rem;" type-card="{{type}}">
	<div id="load-data-{{type}}" class="load">
		<span class="spinner-border text-primary" role="status" aria-hidden="true"></span>
		<span class="text-primary ml-2" id="loading-modal-msg">
			cargando...</span>
	</div>
	<div class="card-body">
		<div class="card-title d-flex align-items-center">
			<h5 class="" style="color: var(--white);">{{nombre}}</h5>
			<a onclick="onNewRow('{{type}}')" class="card-link add ml-auto">adicionar</a>
		</div>
		<div class="card-text" style="overflow-y: auto; height: 86%;">
			{% for item in items %}
				<div class="row-table d-flex align-items-center" id-row="{{item.id}}" item-row='{"id": "{{item.id}}", "nombre": "{{item.name}}", "type": "{{type}}" }' type-row="{{type}}">
					<div class="mr-auto" style="flex: auto;">
						{{item.name}}
					</div>
					<i class="fa fa-close" onclick="onDelete('{{type}}', {{item.id}})"></i>
				</div>
			{% endfor %}
		</div>

	</div>
</div>
