<div class="card card-p" style="width: 18rem;">
	<div class="card-body">
		<div class="card-title d-flex align-items-center">
			<h5 class="" style="color: var(--white);">{{nombre}}</h5>
			<a onclick="onNewRow('{{type}}')" class="card-link add ml-auto">adicionar</a>
		</div>
		<div class="card-text">
			{% for item in items %}
				<div class="row-table d-flex align-items-center" type-row="{{type}}">
					<div class="mr-auto" style="flex: auto;">
						{{item.name}}
					</div>
					<i class="fa fa-close" onclick="onDelete('{{type}}', {{item.id}})" ></i>
				</div>
			{% endfor %}
		</div>

	</div>
</div>
