{% extends 'campanna/base.html.twig' %}

{% block title %}Campa침a | Configuraci칩n
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.b-card {
			border: 1px #a5a5a5 solid;
			border-radius: 5px;
			margin: 5px 2px;
			padding: 0.5rem 1rem;
			background: #404040;
		}

		.b-card-data {
			margin-bottom: 8px;
			color: white;
			padding-left: 8px;
		}

		.icon-img {
			height: 24px;
			width: auto;
		}
		.load {
			position: absolute;
			width: 100%;
			background: #4151608c;
			z-index: 999999;
			height: 100%;
			top: 0;
			left: 0;
			display: none
		}

		.dropdown-menu {
			background: rgb(64, 64, 64);
		}
	</style>
	<link href="{{ asset('css/components/toggle-switch.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

	{# {{ include('telecomunicaciones/empresas/modal/modal-asignar-saldo-empresa.html.twig',{title:'Saldo de la empresa empresa'}) }}
	{{ include('telecomunicaciones/empresas/modal/modal-costo-larga-distancia.html.twig',{modal_id: 'modal-costo-larga-distancia', title:'Costo de Larga Distancia'}) }} #}

	{# header #}
	<div class="container">
		<div class="d-flex align-items-center">
			<h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
				Configuraci칩n Campa침as sms
			</h4>
		</div>
		<section>
			{% for item in empresas %}
				{{ include ("campanna/empresa/components/row-empresa.html.twig", {
					empresa: item
				}) }}
			{% endfor %}
		</section>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
