{% extends 'base.html.twig' %}

{% block title %}Remesas
{% endblock %}

{% block navBar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light nabvar-navegation">
		<a style="cursor: pointer" class="navbar-brand text-white" href="{{ url ('telecomunicaciones') }}">| Remesas |</a>
		<button class="navbar-toggler order-md-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<a class="dropdown-item" href="{{ url ('remesas-config-paises') }}">Países, Provincias y Municipios</a>
				<a class="dropdown-item" href="{{ url ('remesas-monedas') }}">Monedas</a>
				<a class="dropdown-item" href="{{ url ('remesas-config-reglas') }}">Configuración de Reglas</a>
			</ul>
		</div>
	</nav>
	<!-- Modal -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/Telecomunicaciones/apiDTone/loadDTone.js') }}"></script>
	<script src="{{ asset('js/Telecomunicaciones/apiDTone/draw.js') }}"></script>
	<script src="{{ asset('js/Telecomunicaciones/apiDTone/activarDTone.js') }}"></script>

{% endblock %}
