{% extends 'telecomunicaciones/base.html.twig' %}

{% set id_serviciot = app.session.flashbag.get('id_servicio') %}

{% block title %}Telecomunicaciones | Historial de recargas de saldo
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.bg-agregar {
			background: rgb(40 167 69 / 10%);
			/*background: var(--success);*/
		}
		.bg-disminuir {
			background: rgb(220 53 69 / 10%);
			/*background: var(--danger);*/
		}
	</style>
	<link href="{{ asset('css/components/toggle-switch.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

	<div class="container">
		<div class="d-flex align-items-center">
			<a href="{{ url("telecomunicaciones-empresas") }}">
				<i class="text-light mx-3 mt-2 fa fa-arrow-circle-left text-drak fa-2x"></i>
			</a>
			<h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
				Historial de recargas del saldo ({{empresa.nombre}})
			</h4>
		</div>

		<table class="table-small-rows table table-hover text-light">
			<thead class="thead-dark">
				<th scope="col-1" class="text-left">Fecha</th>
				<th scope="col-1" class="text-left">Descripcion</th>
				{# <th scope="col-1" class="text-left">Acción</th> #}
				<th scope="col-1" class="text-left">Valor</th>
				<th scope="col-1" class="text-left">Saldo</th>
			</thead>
			<tbody>
				{% for item in historyEmpresas %}
					<tr {% if item.tipo == 'Agregar' %}
						class="bg-agregar"
					{% else %}
						class="bg-disminuir"
					{% endif %}>
						<td style="font-weight:400;">{{ item.fecha|date("d M Y h:i A") }}</td>
						<td style="font-weight:400;">{{ item.descripcion }}</td>
						{# <td style="font-weight:400;">{{ item.tipo }}</td> #}
						<td style="font-weight:400; text-align: right;">{% if item.tipo == 'Disminuir' %}
							- 
						{% endif %}{{ item.valor }}</td>
						<td style="font-weight:400; text-align: right;">{{ item.saldo }}</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
		<div class="navigation">
			{{ knp_pagination_render(historyEmpresas) }}
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
