{% extends 'telecomunicaciones/base.html.twig' %}

{% block title %}Telecomunicaciones | Recarga Cubacel Manual
{% endblock %}

{% block content %}

	{{ include('telecomunicaciones/recatga-cubacel-manual/modal_numero-confirmacion.html.twig',{title:'Número de Confirmación'}) }}
	{{ include('telecomunicaciones/recatga-cubacel-manual/modal_confirmacion-to-dtone.html.twig',{modal_id: 'modal-recarga-manual-dtone', title:'Recarga para DTNone'}) }}

	{# header #}
	<div class="container">
		<div class="d-flex align-items-center">
			<h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
				Recarga Cubacel Manual
			</h4>
			<div class="input-group input-group-sm w-25">
				<button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom" title="Complerar Recarga DTOne" onclick="onCompletarDtone()">
					<i class="fa fa-check-square mr-2"></i>Ejecutar Recargas DTOne
				</button>
			</div>
		</div>
		{# end header #}
		<table class="table-small-rows table table-hover text-light">
			<thead class="thead-dark">
				<th scope="col-1" class="text-left">Empresa</th>
				<th scope="col-1" class="text-left">Descripcion</th>
				<th scope="col-1" class="text-left">No. Orden</th>
				{# <th scope="col-1" class="text-left">Costo</th> #}
				<th scope="col-1" class="text-left">Fecha</th>
				<th width="180px" class="text-left">Beneficiario</th>
				<th width="70px" class="text-left">Acciones</th>
			</thead>
			<tbody>
				{% for item in recargas %}
					<tr>
						<td style="font-weight:400;">{{ item.empresa }}</td>
						<td style="font-weight:400;">{{ item.descripcion }}</td>
						<td style="font-weight:400;">{{ item.no_orden }}</td>
						{# <td style="font-weight:400;">{{ item.costo }}</td> #}
						<td style="font-weight:400;">{{ item.date|date("d M Y h:i A") }}</td>
						<td style="font-weight:400;">{{ item.no_telefono }}</td>
						<td style="font-weight:200;">
							<button type="button" class="btn btn-info btn-sm px-1 w-31" data-toggle="tooltip" data-placement="bottom" title="Complerar Recarga" onclick="onCompletarRecarga('{{item.id}}')">
								<i class="fa fa-check-square"></i>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation">
			{{ knp_pagination_render(recargas) }}
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Telecomunicaciones/recatgaCubacelManual/validate-form.js') }}"></script>
	<script src="{{ asset('js/Telecomunicaciones/recatgaCubacelManual/change-empresa.js') }}"></script>
	<script src="{{ asset('js/Telecomunicaciones/recatgaCubacelManual/on-completar-recarga.js') }}"></script>
	<script src="{{ asset('js/Telecomunicaciones/recatgaCubacelManual/on-completar-dtone.js') }}"></script>

{% endblock %}
