{% extends 'utils/modal_form.html.twig' %}

{% block modalbody %}

    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST','autocomplete':"off"}}) }}
    <div class="form-group input-group input-group-sm d-block">
        {{ form_label(form.name) }}
        {{ form_widget(form.name,{'attr': {'class': 'form-control w-100'}}) }}
        {{ form_label(form.username) }}
        {{ form_widget(form.username,{'attr': {'class': 'form-control w-100'}}) }}
        {{ form_label(form.password) }}
        {{ form_widget(form.password,{'attr': {'class': 'form-control w-100'}}) }}
        {{ form_label(form.repeat_password) }}
        {{ form_widget(form.repeat_password,{'attr': {'class': 'form-control w-100'}}) }}
        <label for="" class="mt-1 text-center text-warning" id="label_error_add"></label>
    </div>
    {{ form_end(form) }}

{% endblock %}